<a href="https://colab.research.google.com/github/neisg/Python-Empresa-de-Energia/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Bibliotecas
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Lendo a base de dados
Base_Dados = pd.read_excel('/Dados_Empresas_Energia.xlsx')

# Verificando
Base_Dados.head()

,Data,Petrobras,Aeris Energy,Alupar,AES Brasil,Cemig,Cesp
0,2021-03-22,23.080000,9.28,24.600000,31.10,11.040665,27.980000
1,2021-03-23,22.549999,8.94,24.910000,30.75,11.040665,27.700001
2,2021-03-24,22.530001,9.02,24.610001,30.00,10.816444,27.330000
3,2021-03-25,22.959999,9.20,24.990000,30.77,11.157260,27.809999
4,2021-03-26,23.299999,9.10,25.299999,30.27,11.148292,28.090000